{{- 'why-bit.css' | asset_url | stylesheet_tag -}}

  <div class="why-bits-content">

    <!-- Heading -->
    <h2>{{ section.settings.heading }}</h2>

    <!-- Content Wrapper -->
    <div class="why-bits-wrapper">
      <!-- Center Big Image -->
      <div class="why-bits-center">
        <img src="{{ section.settings.main_image | img_url: 'master' }}" alt="Main Image">
      </div>
      <!-- Left and Right Grid Content -->
      <div class="why-bits-grid">
        <div class="grid-inner">
        {% for block in section.blocks %}
          <div class="why-bits-item">
            <div class="bit-inner">
            <div class="icon">
              {% if block.settings.icon != blank %}
              {{ block.settings.icon }}
              {% else %}
              <img src="{{ block.settings.icon-img | img_url: 'master' }}" alt="{{ block.settings.icon-img.alt }}">
              {% endif %}
            </div>
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.text }}</p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>



    </div>

  </div>

{% schema %}
{
  "name": "Why Bits Section",
  "tag": "section",
  "class": "why-bits-section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Center Image"
    }
  ],
  "blocks": [
    {
      "type": "icon_block",
      "name": "Icon Block",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon (SVG or Unicode)"
        },
        {
          "type": "image_picker",
          "id": "icon-img",
          "label": "Icon image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Here"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Your description goes here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Bits Section",
      "blocks": [
        { "type": "icon_block" },
        { "type": "icon_block" },
        { "type": "icon_block" },
        { "type": "icon_block" },
        { "type": "icon_block" },
        { "type": "icon_block" }
      ]
    }
  ]
}
{% endschema %}

